/reinforcement_learning/ppo_toy_algo/ppo_crypto_trading_tensorboard/
.idea
/ml_class/wandb/
/ml_class/titanic/
/anaconda_projects/

symbol_config.json
symbols.json

__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/

.env/
.venv/
venv/
ENV/
env/
*.env
.env.*

.vscode/
.idea/
.DS_Store
Thumbs.db

saved_models/
resampled_data/
merged_alt_data/
binance_data/
datas/
data/
*.csv
*.parquet
*.h5
*.pkl
*.joblib
*.npz
*.npy

*.zip
.jupyter/

/anaconda_projects/
